<!-- <h1>{{ title | lowercase }}</h1>
<button (click)="handleClick()">Click</button>
<input
  type="text"
  name="title"
  [(ngModel)]="title"
  placeholder="Type here..."
/>
<p>{{ jsonValue | json }}</p>
<p>{{ date | date: "M:d:H"}}</p>
<p>{{ title  | truncate }}</p> -->

<input
  type="text"
  name="title"
  [(ngModel)]="userData.id"
/>
<input
  type="text"
  name="title"
  [(ngModel)]="userData.name"
/>
<input
  type="text"
  name="title"
  [(ngModel)]="userData.age"
/>
<ng-container *ngIf="showUser">
  <app-user [user]="userData" (userEvent)="userEventHandler($event)"></app-user>
</ng-container>

<ul *ngFor="let post of posts | async">
  <li>{{ post | json }}</li>
</ul>