<!-- <h1>{{ title | lowercase }}</h1>
<button (click)="handleClick()">Click</button>
<input
  type="text"
  name="title"
  [(ngModel)]="title"
  placeholder="Type here..."
/>
<p>{{ jsonValue | json }}</p>
<p>{{ date | date: "M:d:H"}}</p>
<p>{{ title  | truncate }}</p> -->
<input type="text" name="testChange" [(ngModel)]="testChange" />
<input type="text" name="id" [(ngModel)]="userData.id" />
<input type="text" name="name" [(ngModel)]="userData.name" />
<input type="text" name="age" [(ngModel)]="userData.age" />
<ng-template [ngIf]="showUser">
  <app-user [user]="userData" [testChange]="testChange" (userEvent)="userEventHandler($event)"></app-user>
</ng-template>

<!-- If async, then syntax would be 
<ul *ngFor="let post of posts|async; index as i">
-->
<ul *ngFor="let post of posts; index as i">
  <li>{{ i }}</li>
  <li>{{ post.title }}</li>
</ul>
